*~
.Rproj.user
*-concordance.tex
*.synctex.gz
*.log
*.toc
*.out
*.aux
*.blg
*.directory
*.Rhistory
manual/dna-manual.tex
manual/figure/
manual/sample.dna
manual/dna-2.0-beta20.jar
manual/dna-manual.pdf
manual/sample.TXT
DNA/bin
output
