*~
.Rproj.user
*-concordance.tex
*.synctex.gz
*.log
*.toc
*.out
*.aux
*.blg
*.directory
*.Rhistory
DNA/bin
output
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
dna/build
build/*.jar
build/*.tar.gz
build/*.pdf
bibliography/build/bibliography.pdf
bibliography/bibliography.bbl
bibliography/bibliography.pdf
